.learn-more {
  margin-top: 5em;
}

.well {
	border: 1px solid rgb(241, 241, 241);
	background-color: rgb(246, 246, 246);
	border-radius: 0px;
}

.sub-nav-links, .sub-nav-links a {
  color: #999;
}
