<div class="row">
    <div class="page-header">
            <h3><span class="title">Vegetation Type Map</span></h3>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <leaflet id="veg-map" center="center" layers="layers" geojson="geojson" defaults="defaults" style="height: 600px"></leaflet>
    </div>
    <div class="col-md-3">
        <h2>Info box</h2>
        <div class="info-box" ng-hide="layerProp">Additional information about hte vegetation polygons will be displayed here when you click on them on the map.</div>
        <div class="info-box" ng-show="layerProp">
            <p><b>Vegetation name</b>:
                <br/>
                {{layerProp.mcv}}
            </p>
            <p><b>Primary species</b>:
                <br/>
                {{layerProp.primary_species}}
            </p>
            <p><b>Associated species</b>:
                <span ng-hide="layerProp.observations.length">
                    <br />
                    No associated species found
                </span>
                <span ng-show="layerProp.observations.length">
                    <ul>
                        <li ng-repeat="obs in layerProp.observations">
                            {{obs.scientific_name}}
                        </li>
                    </ul>
                </span>

            </p>
            <p><b>API URL</b>:
                <br/>
                <a ng-href="{{layerProp.url}}" target="_blank">{{layerProp.url}}</a>
            </p>
            <p><b>WHR</b>:
                <br/>
                {{layerProp.whr}}
            </p>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Summary</h2>
        <p>Something about this map.</p>
    </div>
    <div class="col-md-4">
        <h2>Suggested citation</h2>
 					<p>If you are using the vegetation data in your study, please cite the following papers:</p>
					<ul>
						<li>Jim Thorn, maybe?</li>
						<li>Kelly, M., B. Allen-Diaz, and N. Kobzina. Digitization of a historic dataset: the Wieslander California vegetation type mapping project. Accepted in Madrono.</li>
						<li>Keeley, J.E., 2004. VTM plots as evidence of historical change: goldmine or landmine? Madrono 51(4): 372-378.</li>
						<li>Maybe others???</li>
					</ul>
       <p>Papers that are written for the mapping process.</p>
    </div>
    <div class="col-md-4">
		<h2>Download</h2>
		<p>Download features displaying on the map: <button type="button" ng-click="downloadFeaturesJSON()" class="btn btn-info">JSON</button></p>
		<p>Download vegetation layer in shapefile. </p>
		<p><img src="assets/img/vtmveg.png" width="200px" height="200px" class="img-responsive img-thumbnail"/></p>
		<a href="https://dev-ecoengine.berkeley.edu/data/Wieslander_Statewide_CANAD83.zip" class="btn btn-primary">Shapefile</a>
    </div>
</div>


