/* 
*OVERVIEW PAGE
*/


#data-grid .thumbnail {
  border: none;
  text-align: center;
}


/* 
*DATA PAGES
*/

.tool-wrapper {
  background-color: #EBEAE6;
  position: relative;
  height: 100%;
}

.tool-wrapper #map {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  cursor: pointer !important;
  height: 500px;
}

/* MAP POPUP */
.tool-wrapper .map-popup {
  position: absolute;
  z-index: 1001;
  height: auto;
  width: 20%;
  overflow-y: auto;
  padding: 5px;
  color: #fff;
  right: 10px;
  top: 10px;
  background-color: black;
  background-color: rgba(0,0,0,0.8);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1,startColorStr="#E6FFFFFF",endColorStr="#E6FFFFFF");
  -ms-filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1,startColorStr="#E6FFFFFF",endColorStr="#E6FFFFFF");
}

.tool-wrapper .map-popup ul {
  list-style-type: none;
  padding: 0px 0px 0px 10px;
}

.tool-wrapper .map-popup ul a {
  color: #fff;
  text-decoration: underline;
}

/* MAP LAYER CONTROLs */

/* hide default Leaflet layer control */
.tool-wrapper #map .leaflet-control-layers.leaflet-control {
  display: none; 
}

.tool-wrapper .map-layer-controls {
  position: absolute;
  z-index: 1000;
  overflow: none;
  bottom: 10px;
  left: -30px; 
}

.tool-wrapper .map-layer-controls ul {
  list-style: none outside none;
}

.map-control.layer-control {
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  border-bottom: 1px solid #ccc;
  line-height: 30px;
  background: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle; 
  cursor: auto;
  margin-bottom: 8px;
}

.map-control.layer-control a {
  color: inherit;
  text-decoration: none;
}

.map-control.layer-control.disabled a {
  color: grey;
}

.tool-wrapper .map-legend-controls {
  position: absolute;
  z-index: 1000;
  overflow: none;
  bottom: 10px;
  right: 10px; 
}

.tool-wrapper .map-legend-controls ul {
  list-style: none outside none;
}

.map-control.legend-control {
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  border-bottom: 1px solid #ccc;
  line-height: 30px;
  background: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle; 
  cursor: auto;
  margin-bottom: 8px;
}

.map-control.legend-control a {
  color: inherit;
  text-decoration: none;
}


.map-attribution-text {
  display: table-cell;
  vertical-align: bottom;
  float: none;
}




.photo-marker-icon {
    background: url(img/camera-18.svg);
    background-repeat: no-repeat;
}


/*Tabs
------------------------------------*/

.tabbable .nav-tabs { 
  border: none;
  background: none;
  border-bottom: solid 2px #EBEAE6;   
  border-radius: 0 !important;
}

.tabbable .nav-tabs a { 
  color: #333;
  font-size: 20px;
  font-weight: 500;
  padding: 5px 15px; 
}


.tabbable .nav-tabs > .active > a, 
.tabbable .nav-tabs > .active > a:hover, 
.tabbable .nav-tabs > .active > a:focus { 
  border: none; 
  background: #EBEAE6; 
  border-radius: 0 !important;
}

.tabbable .nav-tabs > li > a { 
  border: none;
}

.tabbable .nav-tabs > li > a:hover { 
  color: #fff; 
  background: #EBEAE6; 
  border-radius: 0 !important;
}

.tabbable .tab-content { 
  padding: 10px 0;
}

.tabbable .tab-content img {
  margin-top: 4px;
  margin-bottom: 15px; 
}

.tabbable .tab-content img.img-tab-space {
  margin-top: 7px;
}


#data-grid .features a:hover img {
 opacity: 0.5;
}

.btn-download-icon :first-child {
  font-size: 1.8em;
}

.modal-dialog {
  width: 50%;
  margin-top: 20%;
}

.modal-content {
  background: rgba(255, 255, 255, 0.8);
}

.modal-header {
  border-bottom: none;
}

/* ---------------------------------------------------------------------- */
/*  GALLERY PANEL                                                         */
/* ---------------------------------------------------------------------- */

.wrap-image {
  position: relative;
  width: 100%;
  height: 120px;
  overflow: hidden;
  border: 6px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
  -moz-box-shadow: 3px 3px 3px #777;
  box-shadow: 3px 3px 3px #777;
}
/*.wrap-image img {
  position: absolute;
  width: 100%;
  clip: rect(5px, 200px, 200px, 5px);
}*/

.wrap-image > .tools {
  background-color: rgba(64, 64, 64, 0.55);
  bottom: 0;
  left: -30px;
  position: absolute;
  text-align: center;
  top: 0;
  transition: all 0.2s ease 0s;
  vertical-align: middle;
  width: 28px;
  color: white;
  font-size: 12px;
}
.wrap-image > .tools a:hover, .wrap-image > .tools a:focus{
  text-decoration:none;
}
.wrap-image > .tools.tools-bottom {
  bottom: -34px;
  height: 34px;
  left: 0;
  right: 0;
  top: auto;
  width: auto;
}
.wrap-image:hover > .tools {
  left: 0;
}
.wrap-image:hover > .tools.tools-bottom {
  bottom: 0;
  top: auto;
}
.wrap-image > .tools > a:hover, .wrap-image > *:first-child .inner a:hover {
  color: #C9E2EA;
  text-decoration: none;
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {

  .tool-wrapper #map {    
    height: 300px;
  }

}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {


}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */