<div class="row" >
    <div class="col-md-12" >
        <div class="tool-wrapper">

                    <div class="map-layer-controls">
                        <ul >
                            <li custom-layer-control icon="fa fa-circle" layer="plots">
                            <li custom-layer-control icon="fa fa-camera" layer="photos">
                            <li custom-layer-control icon="fa fa-leaf" layer="veg">
                        </ul>
                    </div>

                    <div class="map-legend-controls">
                        <ul >
                            <li custom-legend-control>
                        </ul>
                    </div>

                    <div class="map-popup" >
                        <span ng-hide="results.counties.length">Right click feature for more information.</span>
                        <div class="info-box" ng-show="results.counties.length" ng-cloak>
                            <div >
                                County:
                                    <span ng-repeat="county in results.counties" repeat-delimiter=",">
                                    {{ county.properties.name }}
                                    </span>
                            </div>
                            <div>
                                VTM Quads:
                                    <span ng-repeat="quad in results.quads" repeat-delimiter=",">
                                    {{ quad.properties.record | split:':':1 }}
                                    </span>
                            </div>
                            <div ng-show="results.plots.length">
                                Plots:
                                    <span ng-repeat="plot in results.plots" repeat-delimiter=",">
                                    {{ plot.plot_no }}
                                    </span>
                            </div>
                                <div ng-show="results.photos.length">
                                Photos:
                                    <span ng-repeat="photo in results.photos" repeat-delimiter=",">
                                    {{ photo.record }}
                                    </span>
                            </div>
                            <div ng-show="results.veg.length">
                                Veg:
                                    <span ng-repeat="veg in results.veg" repeat-delimiter=",">
                                    {{ veg.whr }}
                                    </span>
                            </div>
                        </div>

                    <!-- <div  custom-map-popup layerProp="layerProp" ></div> -->
                    </div>

                    <leaflet id="map" center="map.center" layers="map.layers" geojson="map.geojson" defaults="map.defaults" controls="map.controls" markers="map.markers"  bounds="map.bounds">
                    </leaflet>

        </div>

    </div>
    
</div>
<div class="row" style="margin-top:15px;">
    <div class="col-md-12">
        <tabset>
            <tab heading="General Information">
                <p>	There are approximately 3,100 black and white landscape and stand scale photographs from 1920&ndash;1941 keyed to USGS topographical maps. The photograph captions typically includes a description of the location and subject of the photograph including relevant genus and species, timber stand conditions, and examples of cultivation, grazing, logging, mining and fire, and quad name. The photographer, date of the photograph, and occasionally township and range are included. The photographs and locations and associated data can be downloaded (see Download Tab).</p>
                <p><a href ui-sref="about.description">Read more about the digitization method</a></p>
            </tab>
            <tab heading="Download">
                <p>We are working on providing scans of the original photo datasheets and a Historica Photo Hunt app. In the meantime photographs can be downloaded from <a href="http://www.lib.berkeley.edu/BIOS/vtm" target="_blank">Marian Koshland Bioscience and Natural Resources Library</a>.</p>
            </tab>
            <tab heading="Suggested Citations">
                <ng-include src="'about/about.citations.tpl.html'"></ng-inlcude>
            </tab>
        </tabset>
    </div>
</div>





