<span ng-hide="results.quads.length">Click feature for more information.</span>
<div class="info-box" ng-show="results.quads.length" ng-cloak>
    <div >
        County:
            <span ng-repeat="county in results.counties" repeat-delimiter=",">
            {{ county.properties.name }}
            </span>
    </div>
    <div>
        VTM Quads:
            <span ng-repeat="quad in results.quads" repeat-delimiter=",">
            {{ quad.properties.record | split:':':1 }}
            </span>
    </div>
    <div ng-show="results.veg.length">
        Veg:
            <span ng-repeat="veg in results.veg" repeat-delimiter=",">
            {{ veg.whr }}
            <a target="_blank" ng-href="{{veg.url}}" ><i class="fa fa-info-circle"></i></a>
            </span>
    </div>
    <div ng-show="results.plots.length">
        Plots:
            <span ng-repeat="plot in results.plots" repeat-delimiter=",">
            {{ plot.plot_no }}
            <a target="_blank" ng-href="{{plot.url}}" ><i class="fa fa-info-circle"></i></a>
            </span>
    </div>
        <div ng-show="results.photos.length">
        Photos:
        <div ng-repeat="photo in results.photos">
            <div class="wrap-image">
                <a target="_blank" ng-href="{{photo.url}}">
                <img ng-src="{{photo.media_url | thumbnailUrl}}" alt=""
                style="position: absolute;" resizable-image >
                </a>
                <div class="tools tools-bottom">
                {{photo.authors}}, {{photo.begin_date | date:'yyyy'}} <br/>
                {{photo.county}}
                </div>
            </div>
        </div>
    </div>
</div>