/* 
*DATA PAGES
*/

#data-grid .thumbnail {
	border: none;
	text-align: center;
}

#data-grid #map {
	-moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow:         3px 3px 5px 6px #ccc;
}

#data-grid .img-datasets {
	-moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow:         3px 3px 5px 6px #ccc;
}


