<div class="row" >
	<div class="col-md-12" >
		<div class="tool-wrapper">

					<div class="map-layer-controls">
						<ul >
							<li custom-layer-control icon="fa fa-circle" layer="plots">
							<li custom-layer-control icon="fa fa-camera" layer="photos">
							<li custom-layer-control icon="fa fa-leaf" layer="veg">
						</ul>
					</div>

					<div class="map-popup" >
						<span ng-hide="results.counties.length">Right click feature for more information.</span>
						<div class="info-box" ng-show="results.counties.length" ng-cloak>
							<div >
								County:
									<span ng-repeat="county in results.counties" repeat-delimiter=",">
									{{ county.properties.name }}
									</span>
							</div>
							<div>
								VTM Quads:
									<span ng-repeat="quad in results.quads" repeat-delimiter=",">
									{{ quad.properties.record | split:':':1 }}
									</span>
							</div>
							<div ng-show="results.plots.length">
								Plots:
									<span ng-repeat="plot in results.plots" repeat-delimiter=",">
									{{ plot.plot_no }}
									</span>
							</div>
								<div ng-show="results.photos.length">
								Photos:
									<span ng-repeat="photo in results.photos" repeat-delimiter=",">
									{{ photo.record }}
									</span>
							</div>
							<div ng-show="results.veg.length">
								Veg:
									<span ng-repeat="veg in results.veg" repeat-delimiter=",">
									{{ veg.whr }}
									</span>
							</div>
						</div>

 					<!-- <div  custom-map-popup layerProp="layerProp" ></div> -->
					</div>

					<leaflet id="map" center="map.center" layers="map.layers" geojson="map.geojson" defaults="map.defaults" controls="map.controls" markers="map.markers"  bounds="map.bounds">
					</leaflet>

		</div>

	</div>
	
</div>
<div class="row" style="margin-top:15px;">
	<div class="col-md-12">
		<tabset>
			<tab heading="General Information">
				<p>There are approximately 18,000 VTM plots statewide, concentrated along the central and southern coastal ranges, and along the Sierra Nevada. These plot locations and their associate attributes can be downloaded (see Download Tab).</p>
				<p><a href ui-sref="about.description">Read more about the digitization method</a></p>
				<p><a href ui-sref="about.metadata">Read more about the attribute data</a></p>
			</tab>
			<tab heading="Download">
				<p> 
					Download shapefile containing Plot Data for CA
					<a class="btn btn-large btn-download-icon" href="https://dev-ecoengine.berkeley.edu/data/vtm-plots.zip">
						<i class="fa fa-arrow-circle-down"></i>					
					</a>
				</p>
				<p>We are working on providing scans of the original vegetation maps.</p>
			</tab>
			<tab heading="Suggested Citations">
				<ng-include src="'about/about.citations.tpl.html'"></ng-inlcude>
			</tab>
		</tabset>
	</div>
</div>
