<!DOCTYPE html>
<html ng-app="vtm" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>

    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@joshdmiller">
    <meta name="twitter:title" content="ngBoilerplate">
    <meta name="twitter:description" content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">
    <meta name="twitter:creator" content="@joshdmiller">
    <meta name="twitter:image:src" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846">
    <meta property="og:title" content="ngBoilerplate" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://bit.ly/ngBoilerplate" />
    <meta property="og:image" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846" />
    <meta property="og:description" content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

  </head>
  <body class="boxed-layout container">

    <div class="wrapper">

    <!-- Navigation -->
    <div class="header">
        <!-- Topbar -->
        <div class="topbar">
            <div class="container">
                <!-- Topbar Navigation -->
                <ul class="loginbar pull-right">
                    <li>
                        <i class="fa fa-globe"></i>
                        <a>Languages</a>
                        <ul class="languages">
                            <li class="active">
                                <a href="#">English <i class="fa fa-check"></i></a> 
                            </li>
                            <li><a href="#">Spanish</a></li>
                            <li><a href="#">Russian</a></li>
                            <li><a href="#">German</a></li>
                        </ul>
                    </li>
                    <li class="topbar-devider"></li>   
                    <li><a href="page_faq.html">Help</a></li>  
                    <li class="topbar-devider"></li>   
                    <li><a href="page_login.html">Login</a></li>   
                </ul>
                <!-- End Topbar Navigation -->
            </div>
        </div>
        <!-- End Topbar -->
    
        <!-- Navbar -->
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-bars"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        VTM
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav">
                        <!-- Home -->
                        <li ui-sref-active="active">
                          <a href ui-sref="home">
                            <i class="fa fa-home"></i>
                            Home
                          </a>
                        </li>
                        <!-- End Home -->

                        <!-- Learn More -->
                        <li class="dropdown" ui-sref-active="active">
                            <a href ui-sref="about.overview" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-info-circle"></i>
                                Learn More
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href ui-sref="about.faq">FAQ</a></li>
                                <li><a href ui-sref="about.publications">Publications</a></li>
                                <li><a href ui-sref="about.citations">Suggested Citations</a></li>
                                <li><a href ui-sref="about.plotdata">Metadata</a></li>
                                <li><a href ui-sref="about.plotmaps">Description</a></li>
                            </ul>
                        </li>
                        <!-- End Learn More -->

                        <!-- Data -->
                        <li class="dropdown" ui-sref-active="active">
                            <a href ui-sref="data.overview" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-cloud-download"></i>
                                Data
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href ui-sref="data.vegetation">Vegetation</a></li>
                                <li><a href ui-sref="data.plots">Plot Data</a></li>
                                <li><a href ui-sref="data.photos">Photos</a></li>
                                <li><a href ui-sref="data.mapsheets">Plot Maps</a></li>
                            </ul>
                        </li>
                        <!-- End Data -->

                    </ul>
                </div><!--/navbar-collapse-->
            </div>    
        </div>            
        <!-- End Navbar -->
    </div>


    <div ui-view></div>

    <footer class="footer">
      <div class="container">
        <div class="page-header">
        </div>
        <div>
          <ul class="social">
            <li><a target="_blank" href="#"><i class="fa fa-google-plus-sign"></i></a></li>
            <li><a target="_blank" href="#"><i class="fa fa-twitter-sign"></i></a></li>
            <li><a target="_blank" href="#"><i class="fa fa-linkedin-sign"></i></a></li>
            <li><a target="_blank" href="#"><i class="fa fa-github-sign"></i></a></li>
          </ul>
          

          <p>
            VTM is powered by 
            <a href="http://ecoengine.berkeley.edu/">Holos</a>.        
          </p>
        </div>
      </div>
    </footer>

  </div>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>
    
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.11.2/TweenMax.min.js"></script>


  </body>
</html>
