/* BANNER */
.fullwidthbanner-container {
  padding: 0;
  overflow: hidden;
  position: relative;
  width: 100% !important;
  margin-top: 10px;
}
.banner {
  max-height: 350px !important;
}
#header {
  background-color: #EBEAE6;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
}
#title-box {
  text-align: center;
  margin-top: -15px;
  margin-bottom: -15px;
  vertical-align: middle;  
  text-shadow: 1px 2px 3px #B8B7B3;
}
#title-box p {
  font-size: 23px;
}
#description-box {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #D2D1CD;
  vertical-align: middle;
}
#portrait {
    text-align: center;
    vertical-align: middle; 
}
#portrait img {
  height: 10em;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
}
#tagline {

}
#tagline p {
  font-size: 16px;
  line-height: 1.5;
  font-family: Raleway
}

/* SECTION BOXES */
.features {
  background-color: #EBEAE6;
  padding: 5px;
  margin-top: 25px;
  margin-bottom: 25px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
}

.features a {
  text-decoration: none;
  color: inherit;
}

.features .icon {
  position: relative;
  width: 90px;
  height: 90px;
  border: 3px solid #D0CB93;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: table;
  margin: 2px auto;
  -webkit-transition: -webkit-transform ease-out 0.2s, background 0.3s;
  -moz-transition: -moz-transform ease-out 0.2s, background 0.3s;
  transition: transform ease-out 0.2s, background 0.3s;
}

.features .icon:hover {
  background: #D0CB93;
  color: #fff;
}

.features .icon:hover .fa {
  color: #fff;
  -webkit-transform: scale(0.93);
  -moz-transform: scale(0.93);
  -ms-transform: scale(0.93);
  -o-transform: scale(0.93);
}

.features .icon .fa {
  color: #D0CB93;
  font-size: 45px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.features .content {
  padding: 10px;
}

.features .content .title {
  margin-top: 0;
}

.delayp1 {
  animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-delay: .1s;
  -o-animation-delay: .1s;
  transition-delay: .1s;
  -webkit-transition-delay: .1s;
  -moz-transition-delay: .1s;
  -o-transition-delay: .1s;
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  
  .fullwidthbanner-container {
    margin-top: 3px;
    margin-bottom: 5px;
  }
  .banner {
    max-height: 300px !important;
  }
  #portrait img {
    height: 8em;
  }

  #title-box {

  margin-top: -10px;
  margin-bottom: -10px;
}
  #title-box p {
  font-size: 14px;
  line-height: 1.2;
}
  .title-first-letter {
    font-size: 1.5em;
    top: .15em;
  }
  #tagline {
    text-align: center;
  }
  #tagline p {
  font-size: 13px;
}
.features {
  margin-top: 10px;
  margin-bottom: 0px;

}
.features .icon {

  width: 70px;
  height: 70px;
}
.features .icon .fa {

  font-size: 40px;
}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

#title-box p {
  font-size: 18px;
}
#title-box {

  margin-top: -10px;
  margin-bottom: -10px;
}
#tagline p {
  font-size: 14px;
  line-height: 1.5;
  font-family: Raleway
}
.features {
  margin-top: 15px;
  margin-bottom: none;

}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */


