/* BANNER */
.banner {
  height: 40em;
  margin-top: 5em;
  margin-bottom: 8em;
  text-align: left;
  color: #ffffff;
  text-shadow: 1px 2px 3px #000000;
}
.banner .title {
  color: #ffffff;
  text-shadow: 1px 2px 3px #000000;
  font-weight: 400;
}
.banner #portrait {
  height: 20em;
  margin-top: -16em;
}
.banner #slogan {
  margin-top: -18em;
  color: #ffffff;
  text-shadow: 1px 2px #000000;
  padding-left: 2em;
}
.banner #slogan h4 {
  text-shadow: 1px 2px 1px #000000;
}
.banner #portrait img {
  height: 100%;
  box-shadow: 0 0 6px 4px #F4F4C0;
}



@media (max-width: 767px) {
  .banner {
      height: auto;
      text-align: center;
      padding: 1em 0;
      margin-bottom: 0;
   }
   .banner #portrait {
      height: 14em;
      margin-top: -35em;
   }
   .banner #slogan {
      max-width: 480px;
      margin: 1em auto;
  }
  .vtm-carousel img {
    height: 100%;
  }
  .title {
    font-size: 1.2em;
  }
  .title-first-letter {
    font-size: 1.5em;
    top: .15em;
  }
}

/* 
* CAROUSEL 
*/
.vtm-carousel .carousel-indicators {
  display: none;
}
.vtm-carousel img {
  height: 100%;
  width: 100%;
}



/* SECTION BOXES */
.features {
  background-color: #EBEAE6;
  padding: 5px;
  margin-bottom: 25px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
}

.features a {
  text-decoration: none;
  color: inherit;
}

.features .icon {
  position: relative;
  width: 90px;
  height: 90px;
  border: 3px solid #D0CB93;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: table;
  margin: 2px auto;
  -webkit-transition: -webkit-transform ease-out 0.2s, background 0.3s;
  -moz-transition: -moz-transform ease-out 0.2s, background 0.3s;
  transition: transform ease-out 0.2s, background 0.3s;
}

.features .icon:hover {
  background: #D0CB93;
  color: #fff;
}

.features .icon:hover .fa {
  color: #fff;
  -webkit-transform: scale(0.93);
  -moz-transform: scale(0.93);
  -ms-transform: scale(0.93);
  -o-transform: scale(0.93);
}

.features .icon .fa {
  color: #D0CB93;
  font-size: 45px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.features .content {
  padding: 20px;
}

.features .content .title {
  margin-top: 0;
}

.delayp1 {
  animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-delay: .1s;
  -o-animation-delay: .1s;
  transition-delay: .1s;
  -webkit-transition-delay: .1s;
  -moz-transition-delay: .1s;
  -o-transition-delay: .1s;
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .banner {
      height: auto;
      text-align: center;
      padding: 1em 0;
      margin-bottom: 0;
   }
   .banner #portrait {
      height: 14em;
      margin-top: -35em;
   }
   .banner #slogan {
      max-width: 480px;
      margin: 1em auto;
  }
  .vtm-carousel img {
    height: 100%;
  }
  .title {
    font-size: 1.2em;
  }
  .title-first-letter {
    font-size: 1.5em;
    top: .15em;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */